footer{
    background: var(--Grey, #353535);
    color: white;
    padding: 25px;
}

footer img{
    width: 140px;
    margin-left: 15px;
}

footer li{
    list-style: none;
}
footer i{
    margin-right: 10px;
}
footer a{
    color: white;
}