header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}

header img{
    width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
}

 /* Small devices (phones, less than 768px)*/
@media (min-width: 767.98px) {
 }
  