.reservations {
    background: $grey1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reservations h1{
    font-size: 25px;
    width: 275px;
    height: 68px;
    flex-shrink: 0;
}

.reservations p{
    font-size: 16px;
    font-weight: 300;
}
